.homes__index{
  @include wholebox;

  &__rooms{
    @include homes_index_box
  }

  &__users{
    @include homes_index_box
  }

  &__timeline{
    padding: 30px 0;
    border-top: 1px solid $heading;
    border-bottom: 1px solid $heading;
    &__titlebox{
      height: 30px;
      font-size: 20px;
      margin-left: 40px;
      opacity: 0.5;
      display: flex;
      &--index{
        padding-right: 30px;
      }
      &--more{
        @include link;
      }
    }
  }
}