.header{
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
  background-color: rgba(228, 228, 228,0.5);
  backdrop-filter: blur(3px);
  &__box{
    width: 1000px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__1{
      margin-left: 100px;
      a{
        text-decoration: none;
        color: black;
      }
    }

    &__2{
      display: flex;
      .search-input{
        position: relative;
      }
      .serachicon{
        position: relative;
        top: 5px;
        right: 23px;
      }
    }

    &__3{
      display: flex;
      flex-direction: row;
      margin-right: 100px;
      &--mypage{
        background-color: white;
        padding: 5px;
        border: 1px solid $link_button;
        border-radius: 5px;
        margin-right: 20px;
        a{
          text-decoration: none;
          color: $link_button;
        }
      }
      &--logout{
        background-color: white;
        padding: 5px;
        border: 1px solid $link_button;
        border-radius: 5px;
        a{
          text-decoration: none;
          color: $link_button;
        }
      }
      &--registration{
        background-color: $linkhover;
        color: white;
        padding: 5px;
        border: 1px solid $linkhover;
        border-radius: 5px;
        margin-right: 20px;
        a{
          text-decoration: none;
          color: white;
        }
      }
      &--login{
        background-color: white;
        padding: 5px;
        border: 1px solid $link_button;
        border-radius: 5px;
        a{
          text-decoration: none;
          color: $link_button;
        }
      }
    }
  }
}