.header{
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
  background-color: rgba(228, 228, 228,0.5);
  backdrop-filter: blur(3px);
  &__box{
    width: 1000px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__1{
      background-color: blue;
      margin-left: 100px;
    }

    &__2{
    }

    &__input-group{
      display: flex;
    }

    .search{
      width: 300px;
      margin-left: 30px;
      margin-right: 20px;
      border-radius: 5px;
    }

    &__3{
      display: flex;
      flex-direction: row;
      margin-right: 100px;
      &--mypage{
        background-color: white;
        padding: 5px;
        border: 1px solid rgb(26, 144, 255);
        border-radius: 5px;
        margin-right: 20px;
        a{
          text-decoration: none;
          color: rgb(26, 144, 255);
        }
      }
      &--logout{
        background-color: white;
        padding: 5px;
        border: 1px solid rgb(26, 144, 255);
        border-radius: 5px;
        a{
          text-decoration: none;
          color: rgb(26, 144, 255);
        }
      }
      &--registration{
        background-color: red;
        color: white;
        padding: 5px;
        border: 1px solid rgb(255, 0, 0);
        border-radius: 5px;
        margin-right: 20px;
        a{
          text-decoration: none;
          color: white;
        }
      }
      &--login{
        background-color: white;
        padding: 5px;
        border: 1px solid rgb(26, 144, 255);
        border-radius: 5px;
        a{
          text-decoration: none;
          color: rgb(26, 144, 255);
        }
      }
    }
  }
}