.users__show{
  width: 1500px;
  height: 2000px;
  margin: 0 auto;
  padding: 100px 20px 0;
// ==================== ①プロフィール ====================
  &__profile{
    margin: 0 auto;
    padding-bottom: 25px;
    border-bottom: 0.8px solid rgba(94, 94, 94, 0.445);
    display: flex;
    // プロフィール：左：画像
    &__box1{
      margin-right: 20px;
      .profileimage{
        border-radius: 50%;
      }
    }
    // プロフィール：右
    &__box2{
      width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // 右：上
      &__1{
        height: 30px;
        display: flex;
        justify-content: space-between;
        // テキスト
        &--title{
          height: 30px;
          font-size: 20px;
          margin-right: 50px;
          opacity: 0.5;
        }
        // 編集リンク
        &--edit_link{
          height: 30px;
          line-height: 30px;
          margin-right: 150px;
          a{
            text-decoration: none;
          }
          :hover{
            transition:0.3s;
            cursor: pointer;
            color: red;
          }
        }
      }
        // プロフィール文章
      &__2{
        &--profiletext{

        }
      }
      &__3--followbox{
        width: auto;
        border: 1px solid rgb(26, 144, 255);
        border-radius: 10px;
        font-size: 20px;
        display: flex;
        justify-content: space-around;
        &--follow{
          color: blue;
          padding-left: 20px;
          margin-right: 25px;
          display: flex;
          a{
            text-decoration: none;
          }
          :hover:not(.right){
            transition:0.3s;
            cursor: pointer;
            color: red;
          }
          .left{
            margin-right: 10px;
          }
          .right{
            opacity: 0.8;
          }
        }
        &--follower{
          color: blue;
          display: flex;
          a{
            text-decoration: none;
          }
          :hover:not(.right){
            transition:0.3s;
            cursor: pointer;
            color: red;
          }
          .left{
            margin-right: 10px;
          }
          .right{
            opacity: 0.8;
            padding-right: 20px;
          }
        }
      }
    }
  }
// ==================== ②部屋 ====================
  &__roomimages{
    width: auto;
    height: 400px;
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    &__box1{
      margin-bottom: 10px;
      height: 30px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      &__left{
        display: flex;
        &--title{
          height: 30px;
          line-height: 30px;
          font-size: 20px;
          margin-right: 50px;
          opacity: 0.5;
        }
        &--more{
          height: 30px;
          line-height: 30px;
          a{
            text-decoration: none;
          }
          :hover{
            transition:0.3s;
            cursor: pointer;
            color: red;
          }
        }
      }
      &__right{
        height: 30px;
        line-height: 30px;
        font-size: 15px;
        a{
          text-decoration: none;
        }
        :hover{
          transition:0.3s;
          cursor: pointer;
          color: red;
        }
      }
    }
    &__box2{
      display: flex;
      height: 380px;
      width: 100%;
      overflow: scroll;
      border-bottom: 0.8px solid rgba(94, 94, 94, 0.445);
      &__images{
        padding: 10px;
        &--image{
          padding-bottom: 5px;
        }
        &--mod{
          display: flex;
          &--edit{
            margin-right: 10px;
            margin-bottom: 25px;
            a{
              text-decoration: none;
            }
            :hover{
              transition:0.3s;
              cursor: pointer;
              color: red;
            }
          }
          &--delete{
            margin-bottom: 25px;
            a{
              text-decoration: none;
            }
            :hover{
              transition:0.3s;
              cursor: pointer;
              color: red;
            }
          }
        }
      }
    }
  }
// ==================== ③モノ ====================
  &__items{
    width: auto;
    height: 400px;
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    &__box1{
      margin-bottom: 10px;
      height: 30px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      &__left{
        display: flex;
        &--title{
          height: 30px;
          line-height: 30px;
          font-size: 20px;
          margin-right: 50px;
          opacity: 0.5;
        }
        &--more{
          height: 30px;
          line-height: 30px;
          a{
            text-decoration: none;
          }
          :hover{
            transition:0.3s;
            cursor: pointer;
            color: red;
          }
        }
      }
      &__right{
        height: 30px;
        line-height: 30px;
        font-size: 15px;
        a{
          text-decoration: none;
        }
        :hover{
          transition:0.3s;
          cursor: pointer;
          color: red;
        }
      }
    }
    &__box2{
      display: flex;
      width: 100%;
      overflow: scroll;
      border-bottom: 0.8px solid rgba(94, 94, 94, 0.445);
      &__images{
        padding: 10px;
        &--image{
          padding-bottom: 5px;
        }
        &--mod{
          display: flex;
          &--edit{
            margin-right: 10px;
            margin-bottom: 25px;
            a{
              text-decoration: none;
            }
            :hover{
              transition:0.3s;
              cursor: pointer;
              color: red;
            }
          }
          &--delete{
            margin-bottom: 25px;
            a{
              text-decoration: none;
            }
            :hover{
              transition:0.3s;
              cursor: pointer;
              color: red;
            }
          }
        }
      }
    }
  }
  // ==================== ④ブログ ====================
  &__blogs{
    width: auto;
    height: 400px;
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    &__box1{
      margin-bottom: 10px;
      height: 30px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      &__left{
        display: flex;
        &--title{
          height: 30px;
          line-height: 30px;
          font-size: 20px;
          margin-right: 50px;
          opacity: 0.5;
        }
        &--more{
          height: 30px;
          line-height: 30px;
          a{
            text-decoration: none;
          }
          :hover{
            transition:0.3s;
            cursor: pointer;
            color: red;
          }
        }
      }
      &__right{
        height: 30px;
        line-height: 30px;
        font-size: 15px;
        a{
          text-decoration: none;
        }
        :hover{
          transition:0.3s;
          cursor: pointer;
          color: red;
        }
      }
    }
    &__box2{
      display: flex;
      width: 100%;
      overflow: scroll;
      border-bottom: 0.8px solid rgba(94, 94, 94, 0.445);
      &__images{
        padding: 10px;
        &--image{
          padding-bottom: 5px;
          filter: brightness(50%);
          position: relative;
          &--title{
            position: absolute;
            color: white;
            font-size: 30px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
          }
        }
        &--mod{
          display: flex;
          &--edit{
            margin-right: 10px;
            margin-bottom: 25px;
            a{
              text-decoration: none;
            }
            :hover{
              transition:0.3s;
              cursor: pointer;
              color: red;
            }
          }
          &--delete{
            margin-bottom: 25px;
            a{
              text-decoration: none;
            }
            :hover{
              transition:0.3s;
              cursor: pointer;
              color: red;
            }
          }
        }
      }
    }
  }
}