.users__show{
  @include wholebox;
// ==================== ①プロフィール ====================
  &__profile{
    margin: 0 auto;
    padding-bottom: 25px;
    border-bottom: 0.8px solid $heading;
    display: flex;
    // プロフィール：左：画像
    &__box1{
      &__image{
        margin-right: 20px;
        .profileimage{
          border-radius: 50%;
        }
      }
      &__follow{

      }
    }
    // プロフィール：右
    &__box2{
      width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // 右：上
      &__1{
        height: 30px;
        display: flex;
        justify-content: space-between;
        // テキスト
        &--title{
          height: 30px;
          font-size: 20px;
          margin-right: 50px;
          opacity: 0.5;
        }
        // 編集リンク
        &--edit_link{
          height: 30px;
          line-height: 30px;
          margin-right: 150px;
          @include link;
        }
      }
        // プロフィール文章
      &__2{
        &--profiletext{

        }
      }
      &__3--followbox{
        width: auto;
        border: 1px solid $link_button;
        border-radius: 10px;
        font-size: 20px;
        display: flex;
        justify-content: space-around;
        &--follow{
          color: $link_button;
          padding-left: 20px;
          margin-right: 25px;
          display: flex;
          @include link;
          .left{
            margin-right: 10px;
          }
          .right{
            opacity: 0.8;
          }
        }
        &--follower{
          color: $link_button;
          display: flex;
          @include link;
          .left{
            margin-right: 10px;
          }
          .right{
            opacity: 0.8;
            padding-right: 20px;
          }
        }
      }
    }
  }
// ==================== ②部屋 ====================
  &__roomimages{
    @include user_show_box;
  }
// ==================== ③モノ ====================
  &__items{
    @include user_show_box;
  }
  // ==================== ④ブログ ====================
  &__blogs{
    @include user_show_box;
  }
}